# Ignore compiled Python bytecode files
# *.pyc
# proxyList.jsons
test.py
# Ignore Python cache directories
__pycache__/
# Ignore environment-specific settings
.env
# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

# git rm --cached filename.json <--https://stackoverflow.com/questions/62264025/how-to-ignore-a-json-file
